.rTable {    
  display: block;  
  width: 100%;
   }


  .rTableCell {    
    border: 1px solid #999999;    
    float: left;    
    height: 45px;     
    overflow: hidden;     
    padding: 0px 6.8%;    
    width: 25%; 
  }

 